app/node_modules
app/.angular
app/distlib
app/platforms
app/plugins
app/projects/node_modules
bootstrap1
bootstrap2
server/node_modules
server/dist
server/.env
server/dist3server/dist2/config/*firebase-adminsdk*.json
server/config/*firebase-adminsdk*.json
*.firebase-adminsdk*.json
